body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 00px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;   
    padding: 15px;
    background-color: dodgerblue;
  }

  .right-side {
    font-family: fantasy;
    margin-right: 150px;
    color: aliceblue;
    font-size: 0.999rem;
    letter-spacing: 4px;
  }
  
  .left-side {
    display: flex;
    justify-content: space-between;    
    color: aliceblue;
  }
  
  .navbar > .left-side > div {
    margin-right: 40px;
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
  
  .nav-link-wrapper {
    height: 22px;
    color: aliceblue;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.8s;
  }
  
  .active-nav-link {
    border-bottom: 1px solid whitesmoke;
  }
  
  .active-nav-link a {
    color: whitesmoke!important;
  }
  
  .nav-link-wrapper a {
    color: whitesmoke;
    text-decoration: none;
    transition: color 0.8s;
  }
  
  .nav-link-wrapper:hover {
    border-bottom: 1px solid black;
  }
  
  .nav-link-wrapper a:hover {
    color: black;
  }